web/.DS_Store
web/node_modules
web/build
web/.svelte-kit
web/package
web/.env
web/.env.*
web/.env.example
web/.vercel
web/.output
web/.vscode/*
web/!.vscode/extensions.json
web/.idea
web/.DS_Store
web/*.suo
web/*.ntvs*
web/*.njsproj
web/*.sln
web/*.sw?
web/*.log
web/dist

data/
internal/database/schema.sql
internal/config/config.sql

static/
dist/
dumpflow